# --- Python Specific ---
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
build/
dist/

# --- Environments ---
.venv/
venv/
env/
bin/
lib/

# --- OS Specific ---
.DS_Store
.AppleDouble
.LSOverride

# --- Project Specific Data ---
*.txt
*.json
*.csv
!README.md